<div class="container-fluid">
    <div class="well">
        <div class="secretWord">
            <ul class="list-inline">
                <li ng-repeat="letter in main.secretWord">
                    <span ng-hide="letter.chosen">_</span>
                    <span ng-show="letter.chosen">{{ letter.name }}</span>
                </li>
            </ul>
            <div class="letters">
                <ul class="list-inline">
                    <li ng-repeat="letter in main.letters">
                        <button class="btn btn-primary letter-button" ng-disabled="letter.chosen || main.lost || main.lost" ng-click="main.try(letter);">{{letter.name}}</button>
                    </li>
                </ul>
            </div>
            <p>
                <span ng-hide="main.win || main.lost">Il vous reste {{ main.missesAllowed - main.numMisses }} coups.</span>
                <span ng-show="main.win">Bien joué!</span>
                <span ng-show="main.lost">Vous avez perdu, essaiez encore une fois!</span>
            </p>
        </div>
    </div>
</div>
<button ng-click="main.reset();" class="btn btn-success btn-large">New Game</button>
