<div class="container-fluid">
    <div class="well">
        <div class="secretWord">
            <ul class="list-inline">
                <li ng-repeat="letter in hangman.secretWord">
                    <span ng-hide="letter.chosen">_</span>
                    <span ng-show="letter.chosen">{{ letter.name }}</span>
                </li>
            </ul>
            <div class="letters">
                <ul class="list-inline">
                    <li ng-repeat="letter in hangman.letters">
                        <button class="btn btn-primary letter-button" ng-disabled="letter.chosen || hangman.lost || hangman.win" ng-click="hangman.try(letter);">{{letter.name}}</button>
                    </li>
                </ul>
            </div>
            <p>
                <span ng-hide="hangman.win || hangman.lost">Il vous reste {{ hangman.missesAllowed - hangman.numMisses }} coups.</span>
                <span ng-show="hangman.win">Bien joué!</span>
                <span ng-show="hangman.lost">Vous avez perdu, essaiez encore une fois!</span>
            </p>
        </div>
    </div>

    <button ng-click="hangman.newGame();" class="btn btn-success btn-large">New Game</button>
</div>
